.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: large;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
